<div class="input-cont">
    <h3>Дочерний компонент - input.component</h3>
    <p>inputName (вывод значения из главного компоонента): <strong>{{inputName}}</strong></p>
    <p>inputAge (вывод значения из главного компоонента): <strong>{{inputAge}}</strong></p>

    <p>inputSurname (вывод значения из главного компоонента): <strong>{{inputSurname}}</strong></p>
    <p>inputWorkplace (вывод значения из главного компоонента через дочерний get inputWorkplace): <strong>{{inputName}} {{inputSurname}} {{inputWorkplace}}</strong></p>
</div>